include AUTHORS
include README.rst
include LICENSE
recursive-include fluentcms_emailtemplates/locale *.po *.mo
recursive-include fluentcms_emailtemplates/templates *.html *.txt
recursive-include fluentcms_emailtemplates/static *.css *.js
recursive-include fluentcms_emailtemplates/plugins/*/static *
recursive-include fluentcms_emailtemplates/plugins/*/templates *.html *.txt
